torch==2.5.1+cu121
torchvision==0.20.1+cu121
torchaudio==2.5.1+cu121
causal-conv1d==1.5.0.post8
mamba-ssm==2.2.4
transformers==4.36.2
tokenizers==0.15.2
numpy
scipy
scikit-learn
pandas
matplotlib
tqdm
librosa
soundfile
PyWavelets
einops
psutil
statsmodels
setuptools<81
pytorch-wavelets
